.background {
    background-color: rgb(3, 13, 34);
}

.aboutContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    grid-row: auto;
    background-color: rgb(3, 13, 34);
    padding-bottom: 5rem;
}

.myImage {
    grid-column: 2/5;
    grid-row: 1;
    width: 55vw;
    height: 120vh;
    border-radius: 10px;
    justify-content: center;
    box-shadow: rgba(0, 42, 255, 0.35) 0px 5px 100px;
}

.aboutMe-title {
    grid-column: 3/4;
    grid-row: 2;
    font-family: Ubuntu;
    margin: 0;
    color: whitesmoke;
    text-align: center;
    padding-top: 5rem;
}

.aboutMe-subtitle {
    grid-column: 2/5;
    grid-row: 3;
    font-family: Ubuntu;
    margin: 0;
    color: whitesmoke;
    text-align: center;

}

.aboutMe-description {
    grid-column: 2/5;
    grid-row: 4/8;
    color: whitesmoke;
    font-weight: 700;
    font-family: Ubuntu;
    font-size: large;
}

.aboutMe-description a {
    color: lightgrey;
}

.aboutMe-description a:hover {
    color: red;
}

.slider-container {
    background-color: rgb(3, 13, 34);
    padding-top: 3rem;
}

.carousel-container {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}

.navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
}

.navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 40%;
    font-weight: 700;
}

.navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 3vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
    background: white;
}

.carousel {
    margin-top: 2rem;
}

.carousel img {
    width: 100%;
    border-radius: 25px;
    border: 8px solid #bdbdbd;
    box-shadow: rgba(0, 42, 255, 0.35) 0px 5px 15px;

}

.item {
    position: relative;
    display: none;
    top: 1rem;
    left: -0.5rem;

}

.main {
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 46vw;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    height: 7vh;
    border-radius: 25px;
    font-weight: 700;
}

@media only screen and (max-width: 821px) {
    .myImage {
        height: 50vh;
    }

    .aboutMe-title {
        display: inline;
        grid-column: 2/5;
        grid-row: 2;
        font-family: Ubuntu;
        margin: 0;
        color: whitesmoke;
        text-align: center;
        padding-top: 3rem;
    }

    .aboutMe-subtitle {
        grid-column: 2/5;
        grid-row: 3;
        font-family: Ubuntu;
        margin: 0;
        color: whitesmoke;
        text-align: center;
        padding-bottom: 2rem;
    }

    .slider-container {
        background-color: rgb(3, 13, 34);
        padding-top: 3rem;
        padding-bottom: 10rem;
    }
    
    .carousel-container {
        width: 600px;
        height: 400px;
        position: relative;
        margin: 0 auto;
    }
    
    .navigation .prev {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        top: 50%;
        left: 10px;
        font-weight: 700;
    }
    
    .navigation .next {
        right: 10px;
        position: absolute;
        font-size: 25px;
        z-index: 10;
        top: 50%;
        font-weight: 700;
    }
    
    .navigation .nav-btn {
        background: rgba(255, 255, 255, 0.55);
        cursor: pointer;
        border-radius: 50%;
        width: 3vw;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    }
    
    .navigation .nav-btn:hover {
        background: white;
    }
    
    .carousel {
        margin-top: 2rem;
    }
    
    .carousel img {
        width: 100%;
        height: 40vh;
        border-radius: 25px;
        border: 8px solid #bdbdbd;
        box-shadow: rgba(0, 42, 255, 0.35) 0px 5px 15px;
    
    }
    
    .item {
        position: relative;
        display: none;
        top: 1rem;
        left: -0.5rem;
    
    }
    
    .main {
        display: block;
    }
    
    .caption {
        position: absolute;
        bottom: 0;
        width: 80.25vw;
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.568);
        height: 7vh;
        border-radius: 25px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 500px) {
    .myImage {
        height: 40vh;
    }

    .aboutContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        grid-row: auto;
        background-color: rgb(3, 13, 34);
        padding-bottom: 1rem;
    }

    .aboutMe-title {
        display: inline;
        grid-column: 2/5;
        grid-row: 2;
        font-family: Ubuntu;
        margin: 0;
        color: whitesmoke;
        text-align: center;
        padding-top: 3rem;
        font-size: 1.5rem;
    }

    .aboutMe-subtitle {
        grid-column: 1/6;
        grid-row: 3;
        font-family: Ubuntu;
        margin: 0;
        color: whitesmoke;
        text-align: center;
        padding: 2rem;
        font-size: 1rem;
    }

    .aboutMe-description {
        grid-column: 1/6;
        grid-row: 4/8;
        color: whitesmoke;
        font-weight: 700;
        font-family: Ubuntu;
        font-size: 1rem;
    }

    .slider-container {
        background-color: rgb(3, 13, 34);
        padding-top: 3rem;
        width: auto;
    }

    .carousel-container {
        width: auto;
        height: 350px;
        position: relative;
        margin: 0 auto;
        padding: 0;
    }

    .navigation .prev {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        top: 40%;
        left: 10px;
        font-weight: 700;
    }

    .navigation .next {
        right: 10px;
        position: absolute;
        font-size: 25px;
        z-index: 10;
        top: 40%;
        font-weight: 700;
    }

    .navigation .nav-btn {
        background: rgba(255, 255, 255, 0.55);
        cursor: pointer;
        border-radius: 50%;
        width: 3vw;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    }

    .navigation .nav-btn:hover {
        background: white;
    }

    .carousel {
        margin-top: 2rem;
    }

    .carousel img {
        width: 100%;
        height: 40vh;
        border-radius: 25px;
        border: 8px solid #bdbdbd;
        box-shadow: rgba(0, 42, 255, 0.35) 0px 5px 15px;

    }

    .item {
        position: relative;
        display: none;
        top: 1rem;
        left: -0.5rem;

    }

    .main {
        display: block;
    }

    .caption {
        position: absolute;
        bottom: 0;
        width: 87vw;
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.3);
        height: 7vh;
        border-radius: 25px;
        font-weight: 700;
    }
}