.footer-container {
    background-color: rgb(3, 13, 34);
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    height: 20vw;
    padding: 3rem;
}

.icons a {
    padding: 10px;
    color: whitesmoke;
  }
  
  .footer {
    font-size: 15px;
    height: 100%;
    margin-top: 1em;
    color: whitesmoke;
    font-family: 'Ubuntu';
    text-align: center;
    letter-spacing: .5em;
    text-transform: uppercase;
    background-color: rgb(3, 13, 34);
    display: flex;
    justify-content: space-evenly;
  }

  .footer .footer-text .footer-links a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  /* Hover Effect for footer links */
  .footer .footer-text .footer-links a:hover {
    color: red;
  
  }

  @media only screen and (max-width: 821px) {
      
    .footer {
        font-size: 20px;
        height: 100%;
        margin-top: 1em;
        color: whitesmoke;
        font-family: 'Ubuntu';
        text-align: center;
        letter-spacing: .5em;
        text-transform: uppercase;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .icons a img{
        padding: 20px;
        color: whitesmoke;
        width: 10vw;
      }
  }

  @media only screen and (max-width: 500px) {

    .footer-container {
        margin-bottom: 0;
        padding: 30px;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: row;
      }
      
      .footer {
        font-size: 11px;
        height: 100%;
        margin-top: 1em;
        color: whitesmoke;
        font-family: 'Ubuntu';
        text-align: center;
        letter-spacing: .5em;
        text-transform: uppercase;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      .icons a img{
        padding: 10px;
        color: whitesmoke;
        width: 10vw;
      }
  }